:global(.ant-card-body) {
  padding: 24px 24px 24px 24px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 10px;
}

@font-face {
  font-family: Circular-Black;
  src: url("../../styles/fonts/Circular-Black.otf") format("opentype");
}

.menu {
  font-family: Circular-Black;
}

:global(.ant-menu > ::after) {
  border-bottom: none !important;
}

@font-face {
  font-family: Circular-Medium;
  src: url("../../styles/fonts/Circular-Medium.otf") format("opentype");
}



.uni {
  font-family: Circular-Black;
  font-size: 20px;
  padding-top: 30px;

  @media (max-width: 768px) {
    font-size: 14px;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 10px;
  font-size: 20px;
}
