@import '../../styles/scss/theme';

.menu{
  font-family: $circular-black;
  @media (max-width: 768px) {
    width: 100% !important;
    justify-content: left !important;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 10px;
  font-size: 20px;
}

.it {
  padding-right: 7px!important;
  padding-left: 5px !important;
  border-right: 1px solid black;
}

.uni {
  font-family: $circular-black;
  font-size: 20px;
  padding-top: 30px;

  @media (max-width: 768px) {
    font-size: 14px;
  }
}

:global(.anticon.anticon-ellipsis){
  color: black;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 3px;
}

:global(.ant-menu-horizontal) {
  border-bottom: 0px;
}

:global(.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item) {
  font-size: 13px;
  padding: 0 !important;
  margin: 5px !important;
  color: gray;
}

:global(.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected) {
  color: black !important;
  border-bottom: 2px solid black !important;
}

:global(.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover) {
  color: black !important;
  border-bottom: 2px solid black !important;
}

:global(.ant-menu-overflow .ant-menu .ant-menu-root .ant-menu-horizontal .ant-menu-light) {
  background-color: rgb(252, 252, 255) !important;
}

:global(.ant-menu > ::after) {
  border-bottom: none !important;
}

:global(.ant-menu-overflow-item.ant-menu-item.ant-menu-item-selected.ant-menu-item-only-child:nth-of-type(4)) {
  border-bottom: 0px !important
}

:global(.ant-menu-overflow-item.ant-menu-item.ant-menu-item-selected.ant-menu-item-only-child:nth-of-type(5)) {
  border-bottom: 0px !important
}

:global(.ant-menu-overflow-item.ant-menu-item.ant-menu-item-active.ant-menu-item-only-child:nth-of-type(4)) {
  border-bottom: 0px !important
}

:global(.ant-menu-overflow-item.ant-menu-item.ant-menu-item-active.ant-menu-item-only-child:nth-of-type(5)) {
  border-bottom: 0px !important
}

