@import '../../../styles/scss/theme';

.notification {
    margin: auto;
    width: 60%;
    padding: 20px;
  
    @media (max-width: 768px) {
      width: 100%;
      padding: 0px;
    }
}

.title {
    font-family: $circular-black;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
}
