@font-face {
  font-family: Circular-Medium;
  src: url("../../styles/fonts/Circular-Medium.otf") format("opentype");
}

@font-face {
  font-family: Peace-Sans;
  src: url("../../styles/fonts/Peace-Sans.otf") format("opentype");
}

.container {
  padding: 30px;
}

.title {
  font-family: Peace-Sans;
  font-size: 20px;
  padding-bottom: 10px;
}

.description {
  font-size: 15px;
  font-family: Circular-Medium;
}
