@import '../../../styles/scss/theme';

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: rgb(252, 252, 252);
    transition: 0.3s;
    border-radius: 10px;
    font-size: 20px;
    width: 70%;
    @media (max-width: 768px) {
        width: 100%;
    }
  }

.title {
    font-family: $circular-black;
    font-size: 20px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.row{
    display: flex;
    justify-content: center;
}

.outerCol {
    text-align: center;
    padding: 0px 50px 0px 50px;
    @media (max-width: 768px) {
        padding: 0px;
    }
}

.col {
    @media (max-width: 768px) {
        padding: 0px;
        width: 100%;
    }
}

.avatar {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    @media (max-width: 768px) {
        width: 50%;
    }
}

.radio {
    padding-bottom: 30px;
}

:global(.ant-btn.ant-btn-default:hover) {
    color: black;
    border-color: black;
}

:global(.ant-btn.ant-btn-default:focus) {
    color: black;
    border-color: black;
}

:global(.ant-radio-checked .ant-radio-inner){
    border-color: black !important ;
  }
  
  :global( .ant-radio-checked .ant-radio-inner:after){
    background-color: black;
  }
  
  :global( .ant-radio:hover .ant-radio-inner){
    border-color: black ;
  }

