@import '../../styles/scss/theme';

.header {
   float: right;
   padding-right: 50px;
   @media (max-width: 1024px) {
    float: none;
    padding-right: 0px;
  }
}

.container {
  padding-left: 195px;
  padding-right: 240px;
  padding-top: 100px;
  @media (max-width: 1024px) {
    padding: 20px;
  }
}

.images {
  padding-left: 50px;
  padding-bottom: 50px;
  @media (max-width: 768px) {
    padding-left: 0px;
    padding-bottom: 50px;
  }
}

.title {
  font-family: $peace-sans;
  font-size: 20px;
  padding-bottom: 30px;
  border-bottom: 1px solid black;
  margin-bottom: 30px;
}

.description {
  font-size: 15px;
  font-family: $circular-medium;
  padding-bottom: 30px;
}

:global(.anticon-rotate-right) {
  display: none;
}

:global(.anticon-rotate-left) {
  display: none;
}


