@import '../../styles/scss/theme';

.menu {
  font-family: $circular-black;
  @media (max-width: 768px) {
    width: 20%;
    justify-content: center !important;
  }
}

.uni {
  font-family: $circular-black;
  font-size: 20px;
  padding-top: 30px;

  @media (max-width: 768px) {
    font-size: 14px;
  }
}
  
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 10px;
  font-size: 20px;
}

.rightSideMenuItem{
  position: "absolute";
  top: 0;
  right: 0;
}

